.fs10 {
    font-size: 10px;
}
@media (max-width:360px) {
    .fs10 {
        font-size: 10px;
    }
}

.fs20 {
    font-size: 20px;
}
@media (max-width:360px) {
    .fs20 {
        font-size: 20px;
    }
}

.fs30 {
    font-size: 30px;
}
@media (max-width:360px) {
    .fs30 {
        font-size: 25px;
    }
}
@media (min-width:768px) and (max-width:980px){
    .fs30 {
        font-size: 25px;
    }
}

.fs40 {
    font-size: 40px;
}
@media (max-width:360px) {
    .fs40 {
        font-size: 30px;
    }
}
@media (min-width:768px) and (max-width:980px){
    .fs40 {
        font-size: 30px;
    }
}

.fs50 {
    font-size: 50px;
}
@media (max-width:360px) {
    .fs50 {
        font-size: 30px;
    }
}
@media (min-width:768px) and (max-width:980px){
    .fs50 {
        font-size: 40px;
    }
}