::selection {
    background:#e74c3c;
    color:#FFFFFF;
}
::-moz-selection {
    background:#e74c3c;
    color:#FFFFFF;
}
::-webkit-selection {
    background:#e74c3c;
    color:#FFFFFF;
}
::-o-selection {
    background:
    #333333;color:#FFFFFF;
}
body,head{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #777;
}
a, a:hover ,a:focus {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: #555;
}
img {
    max-width: 100%;
}
p {
    line-height: 25px;
}
.container h1 {
    color: #bdc3c7;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 3px 0px RGB(71, 71, 71);
    letter-spacing: 8px;
}

.container h2 {
    color: #555;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

#wrapper {
    widows: 100%;
    padding: 0;
    margin: 0;
}
.tentang, .moto, .contact {
    padding: 0px 15px 0px 15px;
}

.panel div.panel-heading, 
.panel div.spoiler-trigger {
    cursor: pointer;
}
.main-image {
    
}
.main-image img {
    margin: 20px auto;
    border: 10px solid #eee;
}

/* Navbar Header*/
.navbar {
    padding: 0;
    background: rgba(0,0,0,0.40);
    border: 0px;
    transition: ease-in-out 0.6s;
}
.navbar.bgonscroll {
    background : #fff;
    transition: ease-in-out 0.6s;
    border-bottom: 5px solid rgba(0,0,0,0.1);
}
.navbar.bgonscroll.navbar-default li a{
    color: #555;
}
.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: rgba(0,0,0,0.20);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #ec675a;
    color: #E1E1E1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(0,0,0,0.15);
    color: #E1E1E1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #E74C3C;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
/* End Navbar Header*/

/* header */
.header {
    text-align: center;
}

.navbar.navbar-default.navbar-fixed-top .logo{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -75px;
    width: 150px;
}
/* end header */

/* main */

.main {
    height: 100%;
}

.main-title{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container .title {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: Montserrat,sans-serif;
    width: 70%;
}

.container div.row.text-center {
    margin-bottom: 30px;
}

.box {
    width: 100%;
    padding-bottom: 20px;
}
.box-header {
/*    background: #444;*/
    padding-bottom: 20px;
}
.moto {
    padding: 50px 30px 40px;
}
.moto-spacing-bottom-small {
    padding-bottom: 10px;
}
.moto-spacing-bottom-medium {
    padding-bottom: 20px;
}
.moto-spacing-bottom-large {
    padding-bottom: 50px;
}
.moto-spacing-top-small {
    padding-top: 10px;
}
.moto-spacing-top-medium {
    padding-top: 20px;
}
.moto-spacing-top-large {
    padding-top: 50px;
}
.cari {
    padding: 20px;
    background: #e74c3c;
}
.cari .pencarian {
    background: #e74c3c;
}
.cari .pencarian .kotak-pencarian {
    border: 0;
    padding: 0px 40px;
    width: 80%;
    border-radius: 100px 0px 0px 100px;
    color: #e74c3c;
}
.button-kotak-pencarian {
    border: 0px none;
    padding: 0;
    width: 20%;
    border-radius: 0 100px 100px 0;
}
.description {
    font-size: 15px;
    color: darkgray;
}
.contact {
    padding: 90px 0 100px;
}
.contact-info-box {
    font-size: 15px;
    margin: 0 0 14px 68px;
    padding-left: 0;
}
.contact-info-box i {
    width: 100px;
    margin-right: 2px;
    color: #FE514C;
    font-size: 20px;
    line-height: 30px;
    float: left;
}
.order-box {
    padding: 0;
    margin-bottom: 25px;
}
.order-box-col1 {
    float: left;
    width: 50px;
}
.order-box-col1 i {
    font-size: 60px;
}
.order-box-col2 p {
    overflow: hidden;
}
/* end main */

/* footer */
.footer {
    background: url("../img/bg-footer.png") center repeat fixed;
    background-position: bottom;
    padding: 30px 0;
}
.logo-footer {
    width: 200px;
    margin: 0 auto 35px;
}
.copyright {
    text-align: center;
    color: #dbdbdb;
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
}

/* end footer*/

/* Media Responsive */
@media (max-width:360px){
    .container h1 {
        font-size: 30px;
    }
    .button-kotak-pencarian {
        display: none;
    }
    .cari .pencarian .kotak-pencarian {
        width: 100%;
        border-radius: 100px;
    }
    .navbar.navbar-default.navbar-fixed-top .logo {
        width: 80px;
        left: 60%;
    }
}
@media (max-width:999px){
    .box-header img {
        height: 150px;
    }
}
@media (min-width:768px){
    .container {
        width: auto;
    }
}
@media (max-width:768px){
    .contact-info-box {
        margin: 0 0 14px 15px;
    }
    .contact {
        padding: 30px 0 30px;
    }
}

/* Button */
.tombol {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 11px;
    color: #555;
/*    background: rgba(176, 176, 176, 0.80);*/
    border: 2px solid #555;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.tombol:focus,.tombol:hover {
    color: #555;
    background: #eee;
    border-color: #fff;
    outline: 0px;
}
.tombol:active{
    position: relative;
    top: 1px;
    color: #555;
/*    background: #777;*/
    border-color: #555;
}
.tombol.bulat {
    padding: 8px 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}
.tombol.kecil {
    padding: 5px 15px;
    font-size: 11px;
    border-radius: 5px;
}
.tombol.kecil.bulat {
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -o-border-radius: 11px;
}
.tombol.besar {
    padding: 5px 20px;
    font-size: 30px;
    border-radius: 10px;
}
.tombol.besar.bulat {
    border-radius: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}
.box-moto {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: auto;
    padding: 50px;
}
.text-box-moto {
    padding: 100px 20px;
}

.bg-moto1 {
    background: url('../img/1.jpg');
    background-position: center;
    background-size: auto;
}
.bg-moto2 {
    background: url('../img/2.jpg');
    background-position: center;
    background-size: auto;
}